<img src="img/mCIDaeNnb.png" alt="Logo CiDAEN" align="right">




<br><br><br>
<h2><font color="#00586D" size=4>Módulo 7</font></h2>



<h1><font color="#00586D" size=5>Operaciones básicas con InfluxDB</font></h1>

<br><br><br>
<div style="text-align: right">
<font color="#00586D" size=3>Enrique González</font><br>
<font color="#00586D" size=3>Máster en Ciencia de Datos e Ingeniería de Datos en la Nube III </font><br>
<font color="#00586D" size=3>Universidad de Castilla-La Mancha</font>

</div>

---

<a id="indice"></a>
<h2><font color="#00586D" size=5>Índice</font></h2>


* [1. Introducción](#section1)
* [2. Ingesta de datos](#section2)
* [3. Consulta de datos](#section3)

In [1]:
import matplotlib.pyplot as plt

# Optimiza los gráficos para pantalla retina
%config InlineBackend.figure_format = 'retina'
# Por defecto usamos el backend inline
%matplotlib inline

# Oculta warnings
import warnings
warnings.simplefilter('ignore')

# La libreta ocupa así el 95% de la pantalla
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

---

<a id="section1"></a>
## <font color="#00586D"> 1. Introducción</font>
<br>

En esta práctica introducimos las operaciones básicas sobre InfluxDB mediante el uso de su librería para Python. Para ello, en esta práctica utilizaremos los datos que venimos utilizando en otras prácticas y crearemos una base de datos de series temporales usándo estos datos, que luego pasaremos a consultar.

<div class="alert alert-block alert-warning">
    
<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
__Recordad__: Cread un `virtualenv` e instalad las librerias del `requirement.txt`para poder continuar con la práctica.  
</div>

In [2]:
from influxdb import InfluxDBClient

Para facilitar el acceso a la descripción de estos datos, os la incluyo a continuación.

Son datos meteorológicos de dos estaciones meteorológicas españolas, la estación meteorológica del Retiro en Madrid y la estación meteorológica de La Coruña. Estos datos los podéis encontrar en `datos/meteo_retiro.csv`, con datos meteorológicos diarios desde el 1 de Enero de 1920 y `datos/meteo_coruña.csv`, con datos meteorológicos desde el 1 de Octubre de 1930.

A continuación os indicamos la descripción de cada una de las columnas presentes en estas tablas:

- `FECHA`: Fecha en formato (aaaa-mm-dd) . Si lo abre con una hoja de cálculo, es posible que interprete el campo como fecha y lo vea en el formato habitual dd/mm/aaaa
- `INDICATIVO`: Identificador de Estación Meteorológica (Valor de 4 ó 5 caracteres)
- `NOMBRE`: Nombre de la Estación
- `PROVINCIA`: Provincia en la que se encuentra
- `ALTITUD`: Altitud (metros)
- `TMEDIA`: Temperatura media (ºC)
- `PRECIPITACION`: Precipitación (mm = l/m2)
- `TMIN`: Temperatura minima (ºC)
- `HORATMIN`: Hora de Temperatura mínima (hh:mm)
- `TMAX`: Temperatura Máxima (ºC)
- `HORATMAX`: Hora de Temperatura máxima (hh:mm)
- `DIR`: Dirección del viento (decenas de grado)
- `VELMEDIA`: Velocidad media (m/s)
- `RACHA`: Racha (m/s)
- `HORARACHA`: Hora Racha (hh:mm)
- `SOL`: Horas de Sol (horas)
- `PRESMAX`: Presión máxima (hPa)
- `HORAPRESMAX`: Hora de Presión Máxima (hh:mm)
- `PRESMIN`: Presión Mínima (hPa)
- `HORAPRESMIN`: Hora de Presión Mínima (hh:mm)

<div style="text-align: right">
<a href="#indice"><font size=5><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#00586D"></i></font></a>
</div>

---

<a id="section2"></a>
## <font color="#00586D"> 2. Creación y administración de usuarios</font>
<br>

Como ya os proporcionamos un servicio de InfluxDB mediante la su imagen de Docker, podéis acceder al bucket creado al inicio de este usando las credenciales que podéis encontrar a continuación. Es esta celda la que tendríais que modificar si quisiérais usar otra instancia de InfluxDB (a través de su cloud, un despliegue on-premise, etc.). Asimismo, si tenéis inquietud, como tenéis acceso administrador al influxdb local, podéis crear otros usuarios o buckets con el objetivo de explorar un poco más las características de esta base de datos.

In [3]:
from datetime import datetime

from influxdb_client import InfluxDBClient, Point, WritePrecision
from influxdb_client.client.write_api import SYNCHRONOUS

# You can generate a Token from the "Tokens Tab" in the UI
token = "mcidaen_token"
org = "mcidaen"
bucket = "mod7"

client = InfluxDBClient("http://influxdb:8086", token=token, org=org)

<div style="text-align: right">
<a href="#indice"><font size=5><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#00586D"></i></font></a>
</div>

---

<a id="section2"></a>
## <font color="#00586D"> 3. Ingesta de datos</font>
<br>

Una vez que ya tenemos el cliente de InfluxDB, el siguiente paso será escribir los datos en nuestra recién creada base de datos. Podríamos escribir los datos directamente en el _Line Protocol Format_, sin embargo usando la librería de `python` nos permite utilizar métodos un poco más cómodos.  Nosotros vamos a ver dos formas de hacerlo, a través de un diccionario de `python` y usando un Dataframe de `pandas` (podéis encontrar la lista completa de métodos para escritura de datos [aquí](https://influxdb-client.readthedocs.io/en/latest/usage.html#write)). En primer lugar, vamos a crear un cliente de escritura síncrono, usando la celda a continuación.

In [4]:
write_api = client.write_api(write_options=SYNCHRONOUS)

Para ambos métodos tenéis que recordar el modelo de datos que soporta InfluxDB. Como vimos, tiene 4 componentes fundamentales:
- _timestamp_: el instante de tiempo en el que se produce el dato.
- _measurement_: el indicador sobre qué representan los valores (censo, producción, etc.)
- _tags_: metadatos de las series. Se indexan y nos permiten distinguir, por ejemplo, entre lugares, dispositivos, etc.
- _fields_: valores almacenados para cada _measurement_. No se indexan.

Para poder escribir en la base de datos usando un diccionario, tendréis que especificar todos estos campos de vuestro dato. Por ejemplo, para continuar con el ejemplo que veíamos en teoría, vamos a crear el primer _data point_ de los datos del censo de insectos (hemos añadido un campo adicional para ejemplificar esto también).

In [5]:
import datetime

point = {
    'time': datetime.datetime.utcnow(),
    'measurement': 'census',
    'tags': {'location': 'klamath', 'scientist': 'enrique'},
    'fields': {'bees': 23, 'ants': 20}
}

Una vez con estos datos, podemos escribirlos directamente en nuestra instancia de InfluxDB usando el siguiente comando.

In [6]:
write_api.write(bucket, org, point)

Podéis escribir varios datos, modificando el código anterior para tener datos de prueba. Este método nos puede servir para enviar datos a InfluxDB que provengan de datos recogidos de una API, sensor, etc. Sin embargo, a veces tendremos los datos ya en un formato de tabla y querremos guardarlos en el bucket. Podemos hacerlo mediante un DataFrame de `pandas`. Para ello, primero vamos a construir uno de ejemplo.

In [7]:
import pandas as pd

now = datetime.datetime.utcnow()
df = pd.DataFrame(
    data=[
        ["klamath", "anderson", 10.0, 20.0], 
        ["klamath", "peterson", 15.0, 10.0], 
        ["klamath", "anderson", 12.0, 23.0], 
        ["klamath", "peterson", 14.0, 9.0], 
        ["klamath", "anderson", 12.0, 25.0], 
        ["klamath", "peterson", 14.0, 9.0], 
    ],                       
    index=[
        datetime.datetime(2022, 2, 19, 10, 30), 
        datetime.datetime(2022, 2, 19, 10, 30), 
        datetime.datetime(2022, 2, 19, 11, 0), 
        datetime.datetime(2022, 2, 19, 11, 0), 
        datetime.datetime(2022, 2, 19, 11, 30),
        datetime.datetime(2022, 2, 19, 11, 30), 
    ],
    columns=["location", "scientist", "bees", "ants"]
)

df

                    location scientist  bees  ants
2022-02-19 10:30:00  klamath  anderson  10.0  20.0
2022-02-19 10:30:00  klamath  peterson  15.0  10.0
2022-02-19 11:00:00  klamath  anderson  12.0  23.0
2022-02-19 11:00:00  klamath  peterson  14.0   9.0
2022-02-19 11:30:00  klamath  anderson  12.0  25.0
2022-02-19 11:30:00  klamath  peterson  14.0   9.0

Como veis, en el dataframe hemos incluído columnas tanto para las etiquetas como para los valores. Además, hemos incluído el tiempo en el índice (como ya hemos venido trabajando en prácticas anteriores). Ahora escribimos en una nueva medida, llamada `census2`.

In [8]:
write_api.write(bucket, org, record=df, data_frame_measurement_name='census2', data_frame_tag_columns=['location', 'scientist'])

Como se puede ver en la celda anterior, para escribir los datos de un `DataFrame` en `influxdb` simplemente necesitamos pasar los datos en el parámetro `record` e indicar el nombre de la medida y la lista columnas que se corresponderan con nuestros tags. Con estas nuevas operaciones deberíais estar en condiciones para poder escribir series temporales en InfluxDB. Vamos a ver como podemos consultar la base de datos.

<div style="text-align: right">
<a href="#indice"><font size=5><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#00586D"></i></font></a>
</div>

---

<a id="section2"></a>
## <font color="#00586D"> 4. Consulta de datos</font>
<br>

Para consultar `influxdb` necesitaremos usar el lenguaje Flux. Esta query nos puede proporcionar los datos en diferentes estructuras. Veremos la estructura de datos nativa y también veremos como obtener los datos en un DataFrame. En primer lugar, vamos a ver como tomar los datos completos de la serie `census2` que hemos creado antes.

In [9]:
query = (
f'from(bucket: "{bucket}")'
f'  |> range(start: 2022-02-19T10:00:00Z, stop: 2022-02-19T12:00:00Z)'
)

Para realizar una consulta primero podemos crear el objeto de consulta de la librería.

In [10]:
query_client = client.query_api()

Y con este, podemos directamente lanzar la consulta a la base de datos (deberemos indicar eso sí, el identificador de nuestra cuenta).

In [11]:
tables = query_client.query(query, org=org)
tables

[<FluxTable: 10 columns, 3 records>,
 <FluxTable: 10 columns, 3 records>,
 <FluxTable: 10 columns, 3 records>,
 <FluxTable: 10 columns, 3 records>]

Como podéis ver, la consulta nos devuelve una serie de tablas. La separación en tablas depende del tipo de consulta que hagamos. En este caso, las tablas se separan por la clave de la serie (_measurement_, _tags_, _field_). Para cada tabla tendremos una serie de registros y esos registros tendrán una serie de valores (que son los datos que habremos insertado en la sección anterior). Veamos los datos del primer registro de la primera tabla retornada.

In [12]:
tables[0].records[0].values

{'result': '_result',
 'table': 0,
 '_start': datetime.datetime(2022, 2, 19, 10, 0, tzinfo=tzlocal()),
 '_stop': datetime.datetime(2022, 2, 19, 12, 0, tzinfo=tzlocal()),
 '_time': datetime.datetime(2022, 2, 19, 10, 30, tzinfo=tzlocal()),
 '_value': 20.0,
 '_field': 'ants',
 '_measurement': 'census2',
 'location': 'klamath',
 'scientist': 'anderson'}

Aunque esta forma nos permite un control más de bajo nivel de como tratamos los datos retornados, suele ser cómodo poder hacer consultas que retornen un dataframe. Veamos como hacerlo a continuación. La siguiente llamada puede devolver varios DataFrames dependiendo de lo que hagamos en la consulta y especialmente si trabajamos con más de una medida.

In [13]:
df = query_client.query_data_frame(query, org=org)
df

,result,table,_start,_stop,_time,_value,_field,_measurement,location,scientist
0,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,20.0,ants,census2,klamath,anderson
1,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,23.0,ants,census2,klamath,anderson
2,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,25.0,ants,census2,klamath,anderson
3,_result,1,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,10.0,bees,census2,klamath,anderson
4,_result,1,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,12.0,bees,census2,klamath,anderson
5,_result,1,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,12.0,bees,census2,klamath,anderson
6,_result,2,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,10.0,ants,census2,klamath,peterson
7,_result,2,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,9.0,ants,census2,klamath,peterson
8,_result,2,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,9.0,ants,census2,klamath,peterson
9,_result,3,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,15.0,bees,census2,klamath,peterson
10,_result,3,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,14.0,bees,census2,klamath,peterson
11,_result,3,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,14.0,bees,census2,klamath,peterson

Usaremos esta interfaz a partir de ahora para ejemplificar algunas operaciones más con Flux. A continuación, veremos algunos ejemplos de consultas habituales que podemos hacer con Flux. Sin embargo, no pretendemos ser exhaustivos, si no que tengáis unas nociones básicas de como hacer consultas. Para ver todas las posibilidades del lenguaje os remitimos a la [documentación](https://docs.influxdata.com/influxdb/v2.0/query-data/flux/). Veamos en primer lugar como aplicar un filtro sencillo.

In [32]:
query = (
f'from(bucket: "{bucket}")'
f'  |> range(start: 2022-02-19T10:00:00Z, stop: 2022-02-19T12:00:00Z)'
f'  |> filter(fn: (r) => r.scientist == "anderson")'
)

query_client.query_data_frame(query, org=org)

,result,table,_start,_stop,_time,_value,_field,_measurement,location,scientist
0,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,20.0,ants,census3,klamath,anderson
1,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,23.0,ants,census3,klamath,anderson
2,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,25.0,ants,census3,klamath,anderson
3,_result,1,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,10.0,bees,census3,klamath,anderson
4,_result,1,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,12.0,bees,census3,klamath,anderson
5,_result,1,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,12.0,bees,census3,klamath,anderson

En este caso, la operación filter nos permite añadir una función de filtrado. Podemos añadir más cláusulas, por ejemplo usando `and`

In [33]:
query = (
f'from(bucket: "{bucket}")'
f'  |> range(start: 2022-02-19T10:00:00Z, stop: 2022-02-19T12:00:00Z)'
f'  |> filter(fn: (r) => r.scientist == "anderson" and r._field == "ants")'
)

query_client.query_data_frame(query, org=org)

,result,table,_start,_stop,_time,_value,_field,_measurement,location,scientist
0,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,20.0,ants,census3,klamath,anderson
1,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,23.0,ants,census3,klamath,anderson
2,_result,0,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,25.0,ants,census3,klamath,anderson

Podemos realizar crear operaciones con los valores de un campo.

In [35]:
query = (
f'from(bucket: "{bucket}")'
'  |> range(start: 2022-02-19T10:00:00Z, stop: 2022-02-19T12:00:00Z)'
'  |> filter(fn: (r) => r.scientist == "anderson" and r._field == "ants")'
'  |> map(fn: (r) => ({r with divide2: (r._value/2.0)}))'
)

query_client.query_data_frame(query, org=org)

,result,table,_field,_measurement,_start,_stop,_time,_value,divide2,location,scientist
0,_result,0,ants,census3,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 10:30:00+00:00,20.0,10.0,klamath,anderson
1,_result,0,ants,census3,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,23.0,11.5,klamath,anderson
2,_result,0,ants,census3,2022-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,25.0,12.5,klamath,anderson

También podemos realizar agregaciones en intervalos de tiempo

In [37]:
query = (
f'from(bucket: "{bucket}")'
'  |> range(start: 2022-02-01T10:00:00Z, stop: 2022-02-19T12:00:00Z)'
'  |> filter(fn: (r) => r.scientist == "anderson" and r._field == "ants")'
'  |> aggregateWindow(every: 1w, fn: mean)'
)

query_client.query_data_frame(query, org=org)

,result,table,_start,_stop,_time,_value,_field,_measurement,location,scientist
0,_result,0,2022-02-01 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-03 00:00:00+00:00,NaN,ants,census3,klamath,anderson
1,_result,0,2022-02-01 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-10 00:00:00+00:00,NaN,ants,census3,klamath,anderson
2,_result,0,2022-02-01 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-17 00:00:00+00:00,NaN,ants,census3,klamath,anderson
3,_result,0,2022-02-01 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 12:00:00+00:00,22.666667,ants,census3,klamath,anderson

O incluso calcular una media móvil

In [39]:
query = (
f'from(bucket: "{bucket}")'
'  |> range(start: 2021-02-19T10:00:00Z, stop: 2022-02-19T12:00:00Z)'
'  |> filter(fn: (r) => r.scientist == "anderson" and r._field == "ants")'
'  |> movingAverage(n: 2)'
)

query_client.query_data_frame(query, org=org)

,result,table,_start,_stop,_time,_value,_field,_measurement,location,scientist
0,_result,0,2021-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:00:00+00:00,21.5,ants,census3,klamath,anderson
1,_result,0,2021-02-19 10:00:00+00:00,2022-02-19 12:00:00+00:00,2022-02-19 11:30:00+00:00,24.0,ants,census3,klamath,anderson

Ya deberíais estar capacitados tanto para escribir como para poder realizar consultas sencillas con InfluxDB. En el siguiente ejercicio practicaréis lo visto en los ejemplos anteriores trabajando con los datos meteorológicos.

<div style="text-align: right">
<a href="#indice"><font size=5><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#00586D"></i></font></a>
</div>

---

### <font color="#00586D"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#113D68"></i> Ejercicio 1</font>

Usando los datos de meteorología con los que venimos trabajando, almacena en InfluxDB (puedes utilizar el bucket que hayas usado durante la práctica) los datos de temperatura (measurement: temperatura), almacenando en campos la temperatura media, mínima y máxima para todo el año 2019, tanto para la estación de La Coruña como de Retiro (almacenad esta información en la tag _location_).

In [364]:
# SOLUCIÓN
ts_ret = pd.read_csv(
    './data/meteo_retiro.csv', 
    sep=';', 
    parse_dates=['FECHA'], 
    index_col='FECHA', 
    encoding='latin9'
).loc['2019', ['TMEDIA', 'TMIN', 'TMAX']]

In [365]:
ts_ret['location'] = 'retiro'

In [366]:
ts_ret

            TMEDIA  TMIN  TMAX location
FECHA
2019-01-01     6.6   1.4  11.7   retiro
2019-01-02     6.0   0.4  11.7   retiro
2019-01-03     7.3   2.8  11.8   retiro
2019-01-04     5.9   0.4  11.4   retiro
2019-01-05     5.4  -0.1  10.8   retiro
...            ...   ...   ...      ...
2019-12-27     8.9   4.3  13.5   retiro
2019-12-28     8.2   2.5  13.9   retiro
2019-12-29     7.8   2.5  13.2   retiro
2019-12-30     7.0   2.5  11.5   retiro
2019-12-31     6.8   2.3  11.4   retiro

[365 rows x 4 columns]

In [367]:
ts_cor = pd.read_csv(
    './data/meteo_coruña.csv', 
    sep=';', 
    parse_dates=['FECHA'], 
    index_col='FECHA', 
    encoding='latin9'
).loc['2019', ['TMEDIA', 'TMIN', 'TMAX']]

In [368]:
ts_cor['location'] = 'coruña'

In [369]:
ts_cor

            TMEDIA  TMIN  TMAX location
FECHA
2019-01-01     9.5   5.1  13.9   coruña
2019-01-02     9.2   6.0  12.3   coruña
2019-01-03     9.1   4.6  13.6   coruña
2019-01-04     8.8   3.3  14.4   coruña
2019-01-05     8.2   3.6  12.8   coruña
...            ...   ...   ...      ...
2019-12-27    10.0   5.4  14.5   coruña
2019-12-28    12.1   6.8  17.4   coruña
2019-12-29    13.9   9.6  18.2   coruña
2019-12-30    12.4   8.3  16.4   coruña
2019-12-31    11.6  10.2  12.9   coruña

[365 rows x 4 columns]

In [370]:
full_df = pd.concat([ts_ret, ts_cor])

In [371]:
write_api.write(bucket, org, record=full_df, data_frame_measurement_name='temperature', data_frame_tag_columns=['location'])

<div style="text-align: right"><font size=4> <i class="fa fa-check-square-o" aria-hidden="true" style="color:#00586D"></i></font></div>

---



### <font color="#00586D"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#113D68"></i> Ejercicio 2</font>

Usando la base de datos anterior, consulta los datos de temperatura media diaria para los 6 primeros meses del año de la estación de La Coruña agregados por mes. Obten un DataFrame con el resultado

Pista: Recordad filtrar por la nueva medida. Deberéis consultar la documentación para saber que duración tenéis que incluír en el campo `every` de la función de agregación.

In [375]:
# SOLUCIÓN

query = (
f'from(bucket: "{bucket}")'
'  |> range(start: 2019-01-01T00:00:00Z, stop: 2019-07-01T00:00:00Z)'
'  |> filter(fn: (r) => r.location == "coruña" and r._measurement == "temperature" and r._field == "TMEDIA")'
'  |> aggregateWindow(every: 1mo, fn: mean)'
)

df = query_api.query_data_frame(query, org=org)
df

,result,table,_start,_stop,_time,_value,_field,_measurement,location
0,_result,0,2019-01-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,2019-02-01 00:00:00+00:00,10.196774,TMEDIA,temperature,coruña
1,_result,0,2019-01-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,2019-03-01 00:00:00+00:00,12.800000,TMEDIA,temperature,coruña
2,_result,0,2019-01-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,2019-04-01 00:00:00+00:00,12.790323,TMEDIA,temperature,coruña
3,_result,0,2019-01-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,2019-05-01 00:00:00+00:00,12.990000,TMEDIA,temperature,coruña
4,_result,0,2019-01-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,2019-06-01 00:00:00+00:00,15.493548,TMEDIA,temperature,coruña
5,_result,0,2019-01-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,2019-07-01 00:00:00+00:00,16.553333,TMEDIA,temperature,coruña

Resultado esperado:

|    | result   |   table | _start                    | _stop                     | _time                     |   _value | _field   | _measurement   | location   |
|---:|:---------|--------:|:--------------------------|:--------------------------|:--------------------------|---------:|:---------|:---------------|:-----------|
|  0 | _result  |       0 | 2019-01-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 | 2019-02-01 00:00:00+00:00 |  10.1968 | TMEDIA   | temperature    | coruña     |
|  1 | _result  |       0 | 2019-01-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 | 2019-03-01 00:00:00+00:00 |  12.8    | TMEDIA   | temperature    | coruña     |
|  2 | _result  |       0 | 2019-01-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 | 2019-04-01 00:00:00+00:00 |  12.7903 | TMEDIA   | temperature    | coruña     |
|  3 | _result  |       0 | 2019-01-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 | 2019-05-01 00:00:00+00:00 |  12.99   | TMEDIA   | temperature    | coruña     |
|  4 | _result  |       0 | 2019-01-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 | 2019-06-01 00:00:00+00:00 |  15.4935 | TMEDIA   | temperature    | coruña     |
|  5 | _result  |       0 | 2019-01-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 | 2019-07-01 00:00:00+00:00 |  16.5533 | TMEDIA   | temperature    | coruña     |

<div style="text-align: right"><font size=4> <i class="fa fa-check-square-o" aria-hidden="true" style="color:#00586D"></i></font></div>

---



<div style="text-align: right"> <font size=6><i class="fa fa-coffee" aria-hidden="true" style="color:#00586D"></i> </font></div>